<?xml version="1.0"?>
<!--
  ~ @package      Webcode_Magento2
  ~
  ~ @author       Kostadin Bashev (bashev@webcode.bg)
  ~ @copyright    Copyright © 2020 Webcode Ltd. (https://webcode.bg/)
  ~ @license      See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="KiwiCommerce_CronScheduler" setup_version="1.0.9">
        <sequence>
            <module name="Magento_Cron"/>
        </sequence>
    </module>
</config>
